<!DOCTYPE html>
<html>

<head>
    <title>Lab 10 Program</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
    </script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCntrl", function ($scope) {
            $scope.itemlist = ['Pen', 'Pencil', 'Book', 'Eraser']
            $scope.add = function () {
                if ($scope.additem) {
                    if ($scope.itemlist.indexOf($scope.additem) == -1) {
                        $scope.itemlist.push($scope.additem)
                    }
                    else {
                        alert("This item already exists in the collection")
                    }

                }
                else {
                    alert("Please enter an item to add")
                }
            }
            $scope.remove = function (item) {
                confirm = prompt("Are you sure you want to delete " + item)
                if (confirm == "Yes") {
                    var index = $scope.itemlist.indexOf(item)
                    $scope.itemlist.splice(index, 1)
                }
            }
        });
    </script>
</head>

<body ng-app="myApp">
    <h1>ITEM MANAGEMENT APPLICATION</h1>
    <div ng-controller="myCntrl">
        Enter an item to add: <input type="text" ng-model="additem">
        <button ng-click="add()">ADD</button>
        <h3>List of Items</h3>
        <table border="1">
            <tr>
                <th>SL.NO</th>
                <th>ITEM</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="item in itemlist">
                <td>{{$index+1}}</td>
                <td>{{item}}</td>
                <td><button ng-click="remove(item)">REMOVE</button></td>
            </tr>
        </table>
        <br><br>
        total number of items=<b>{{itemlist}}</b>
    </div>
</body>

</html>